.card-container {
  margin: 2vh;
  margin-top: 4vh;
  position: relative;
  width: 15vw;
  height: 40vh;
  border-radius: 4px;
  cursor: pointer;
  z-index: 0;

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    text-align: center;
  }

  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66%;
    width: 100%;

    img {
      height: 100%;
      width: 96%;
      background-color: white;
      border-radius: 4px;
    }
  }

  .card-footer {
    height: 17%;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
    }
  }

  &:hover {
    transform: translateY(-2%);
    transition: all linear 120ms;

    .card-content img {
      opacity: 0.8;
    }
  }
}

.Grass {
  border: 4px solid var(--type-grass-border);
  background-color: var(--type-grass);
}
.Water {
  border: 4px solid var(--type-water-border);
  background-color: var(--type-water);
}
.Fire {
  border: 4px solid var(--type-fire-border);
  background-color: var(--type-fire);
}
.Ground {
  border: 4px solid var(--type-ground-border);
  background-color: var(--type-ground);
}
.Rock {
  border: 4px solid var(--type-rock-border);
  background-color: var(--type-rock);
}
.Electric {
  border: 4px solid var(--type-electric-border);
  background-color: var(--type-electric);
}
.Fairy {
  border: 4px solid var(--type-fairy-border);
  background-color: var(--type-fairy);
}
.Dragon {
  border: 4px solid var(--type-dragon-border);
  background-color: var(--type-dragon);
}
.Steel {
  border: 4px solid var(--type-steel-border);
  background-color: var(--type-steel);
}
.Poison {
  border: 4px solid var(--type-poison-border);
  background-color: var(--type-poison);
}
.Bug {
  border: 4px solid var(--type-bug-border);
  background-color: var(--type-bug);
}
.Psychic {
  border: 4px solid var(--type-psychic-border);
  background-color: var(--type-psychic);
}
.Ghost {
  border: 4px solid var(--type-ghost-border);
  background-color: var(--type-ghost);
}
.Normal {
  border: 4px solid var(--type-normal-border);
  background-color: var(--type-normal);
}
.Fighting {
  border: 4px solid var(--type-fighting-border);
  background-color: var(--type-fighting);
}
.Ice {
  border: 4px solid var(--type-ice-border);
  background-color: var(--type-ice);
}
.Dark {
  border: 4px solid var(--type-dark-border);
  background-color: var(--type-dark);
}
.Flying {
  border: 4px solid var(--type-flying-border);
  background-color: var(--type-flying);
}
