.card-container {
  margin: 2vh;
  margin-top: 4vh;
  position: relative;
  width: 15vw;
  height: 40vh;
  border-radius: 4px;
  cursor: pointer;
  z-index: 0;
  box-shadow: 2px 2px  2px  rgba(177, 166, 166, 0.7);


  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    text-align: center;
  }

  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66%;
    width: 100%;

    img {
      border: 1px solid rgb(177, 166, 166);
      height: 100%;
      width: 96%;
      background-color: white;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgb(177, 166, 166);
    }
  }

  .card-footer {
    height: 17%;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;

      li{

        text-align: center;
        width: 45%;
      }
    }
  }

  &:hover {
    transform: translateY(-2%);
    transition: all linear 120ms;

    .card-content img {
      opacity: 0.8;
    }
  }
}



