<div
  class="card-container"
  [ngClass]="this.getPrimaryType(this.pokemonTypes)"
  (click)="redirectPokemonInfo()"
>
  <div class="card-header">
    <span>
      <strong>Nº {{ pokemonNumber }}: {{ pokemonName }}</strong>
    </span>
  </div>
  <div class="card-content">
    <img src="{{ pokemonNormalSprite }}" alt="pokemon photo" />
  </div>
  <div class="card-footer">
    <ul>
      <li *ngFor="let type of pokemonTypes" ngClass="{{type}} Border-type">
        <strong>{{ type }}</strong>
      </li>
    </ul>
  </div>
</div>
