.card-container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 15%;
  height: 45%;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  border: 2px solid var(--type-grass-border);
  background-color: var(--type-grass);
}
.card-container-shadow {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 15%;
  height: 45%;
  border-radius: 4px;
  z-index: 0;
  background-color: var(--type-grass-border);
  cursor: pointer;
}
.card-container .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17%;
  text-align: center;
  background-color: var(--type-grass);
}

.card-container .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66%;
  width: 100%;
}
.card-container .card-content img {
  height: 100%;
  width: 96%;
  background-color: white;
  border-radius: 4px;
}
.card-container .card-footer {
  height: 17%;
}

.card-container .card-footer ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.card-container:hover {
  top: 24%;
  transition: all linear 180ms;
  .card-content img {
    opacity: 0.85;
  }
}
