.options-info-container {
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 8vh;
  background-color: var(--background-secondary);
  border-style: none;
  z-index: 3;
  .btn-back-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary);
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: all linear 120ms;
    }
  }
}
.pokemon-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 18vh;
  height: 82vh;
  width: 100%;
  overflow: hidden;

  .page-container-1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    .data-info-container {
      position: relative;
      align-self: center;
      width: 95%;
      height: 95%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .img-info-container {
        position: relative;
        width: 95%;
        height: 30%;
        display: flex;
        justify-content: space-between;

        .img-info-card {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 48%;

          span {

            width: 100%;
            text-align: center;
            background-color: #fff;

            strong {
              color: #000;
            }
          }
          img {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 5px 5px 0 0;
          }
        }
      }
      span {
        border-radius: 0 0 5px 5px;
        strong {
          color: #000;
        }
      }

      .img-basic-info-container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: 45%;
        background-color: #fff;
        border-radius: 5px;

        .img-basic-info-types {
          display: flex;
          width: 90%;
          justify-content: space-between;
          span {
            strong {
              color: #000;
            }
          }
          ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            li {
              width: 100px;
              text-align: center;
              list-style: none;
              strong {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
  .page-container-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 69%;
    border-radius: 5px;

    .evolution-info-container {
      position: relative;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40%;
      border-radius: 5px;

      span {
        top: 14px;
        text-align: center;
        position: absolute;
        strong {
          color: #000;
        }
      }
      ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 98%;
        height: 90%;
        background-color: #fff;
        border-radius: 5px;
        border-style: none;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          width: 25%;
          height: 75%;
          border-radius: 5px;

          span{
            position: static;
             text-align: center;
             top:0
        strong {
          color: #000;
        }
          }

          .card-pokemon-evolution-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65%;
            height: 85%;
            border-radius: 5px;

            cursor: pointer;
            &:hover {
              opacity: 0.9;
              width: 67%;
              height: 89%;
            }
            img {
              width: 100%;
              height: 100%;
              background-color: #fff;
            }
            span {
              text-align: center;
            }
          }
        }
      }
    }

    .page-container-3 {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 65%;
      .type-info-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 45%;
        height: 95%;
        border-radius: 5px;

        .type-info-stronger,
        .type-info-weaker {
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 45%;
          height: 90%;
          background-color: #fff;
          color: #fff;
          border-radius: 5px;
          border-style: none;
          span {
            strong {
              color: #000;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            height: 90%;
            width: 100%;
            border-radius: 5px;
            border-style: none;
          }
          li {
            text-align: center;
            width: 60%;

            strong {
              color: #000;
            }
          }
        }
      }
      .stat-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 85%;
        border-radius: 5px;
        background-color: #fff;
        border-style: none;
        .stat {
          position: relative;
          width: 95%;
          .stat-name {
            display: inline-block;
            width: 30% !important;
            padding-left: 3px;
            strong {
              color: #000;
            }
          }
          .stat-value {
            position: relative;
            padding-left: 5px;
            margin-left: 15px;
            display: inline-block;
            border-radius: 5px;
            transition: width 0.5s ease-in-out;
            z-index: 2;
            &:before {
              content: "";
              left: 0;
              width: 587px;
              height: 100%;
              position: absolute;
              border-radius: 5px;
              // background-color: grey;
              z-index: -1;
            }
            strong {
              color: #000;
            }
          }
        }
      }
    }
  }
}
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Hp {
  background-color: rgb(38, 180, 9);
  border: 2px solid rgb(1, 117, 1);
  border-radius: 2px;
}
.Attack {
  background-color: rgb(42, 42, 228);
   border: 2px solid rgb(1, 12, 105);
  border-radius: 2px;
}
.Defense {
  background-color: rgb(245, 11, 11);
   border: 2px solid rgb(138, 0, 0);
  border-radius: 2px;
}
.Special-defense {
  background-color: rgb(173, 103, 46);
   border: 2px solid rgb(119, 69, 28);
  border-radius: 2px;
}
.Special-attack {
  background-color: blueviolet ;
   border: 2px solid rgb(84, 28, 136) ;
  border-radius: 2px;
}
.Speed {
  background-color: orangered ;
   border: 2px solid rgb(158, 49, 9);
  border-radius: 2px;
}
