.pokemon-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 10vh;
  height: 90vh;

  .options-info-container {
    width: 100%;
    background-color: aqua;
    border: 1px solid gray;
    height: 15%;
  }

  .img-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 35%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3px;

    .img-info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: 90%;
      background-color: #fff;
      border: 1px solid gray;
      border-radius: 3px;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  .stat-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 35%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3px;

    span {
      background-color: bisque;
    }
  }

  .type-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 35%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .type-info-stronger,
  .type-info-weaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 90%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .evolution-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 35%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3px;
  }
}
