<div class="pokemon-info-container">
  <div class="options-info-container">
    Options space
  </div>
  <div class="img-info-container">
   <div class="img-info-card">
     <img
      src={{pokemonInfo.normalSprite}}
      alt="image_normal_form"
    />
   <span>Normal</span>
   </div>
   <div class="img-info-card">
     <img
       src={{pokemonInfo.shinySprite}}
       alt="image_shiny_form"
     />
     <span>Shiny</span>
   </div>
  </div>
  <div class="stat-info-container">
    <span class="stat" *ngFor="let status of createArrayStats">{{status.name}}:{{status.value}}</span>
  </div>
  <div class="type-info-container">
    <div class="type-info-stronger">
      <span>Strong against:</span>
      <ul>
        <li *ngFor="let type of strongAgainst">{{type}}</li>
      </ul>
    </div>
    <div class="type-info-weaker">
      <span>Weak against:</span>
      <ul>
         <li *ngFor="let type of weakAgainst">{{type}}</li>
      </ul>
    </div>
  </div>
  <div class="evolution-info-container">
   <ul>
    <li *ngFor="let pokemon of pokemonFamily">{{pokemon}}</li>
   </ul>
  </div>
</div>
