<div class="pokemon-info-container">
  <div class="options-info-container">
    Options space
  </div>
  <div class="img-info-container">
   <div class="img-info-card">
     <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png"
      alt="image_normal_form"
    />
   <span>Normal</span>
   </div>
   <div class="img-info-card">
     <img
       src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/132.png"
       alt="image_shiny_form"
     />
     <span>Shiny</span>
   </div>
  </div>
  <div class="stat-info-container">
    <span class="stat hp">Hp</span>
    <span class="stat attack">Attack</span>
    <span class="stat defense">Defense</span>
    <span class="stat special-attack">Special-Attack</span>
    <span class="stat special-defense">Special-Attack</span>
    <span class="stat speed">Speed</span>
  </div>
  <div class="type-info-container">
    <div class="type-info-stronger">
      <span>Strong against:</span>
    </div>
    <div class="type-info-weaker">
      <span>Weak against:</span>
    </div>
  </div>
  <div class="evolution-info-container">
    <span>Evolution pokemons</span>
  </div>
</div>
