<h4>card-list-component</h4>
<button (click)="getAllKantoPokemons()">Kanto pokemons</button>
<button (click)="getAllJohtoPokemons()">Johto pokemons</button>
<button (click)="getAllHoennPokemons()">Hoenn pokemons</button>
<button (click)="getAllSinnohPokemons()">Sinnoh pokemons</button>
<button (click)="getAllUnovaPokemons()">Unova pokemons</button>
<button (click)="getAllKalosPokemons()">Kalos pokemons</button>
<button (click)="getAllAlolaPokemons()">Alola pokemons</button>
<button (click)="getAllGalarPokemons()">Galar pokemons</button>
<button (click)="getAllHisuiPokemons()">Hisui pokemons</button>
