<div class="card-list-header-container">
  <span><strong>Search Pokemons</strong></span>
  <div class="btn-container">
    <button class="btn" [ngClass]="this.selectedButton === 'Kanto' ? 'btn-selected':''" (click)="selectKantoRegion()">
      <strong>Kanto</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Johto' ? 'btn-selected':''" (click)="selectJohtoRegion()">
      <strong>Johto</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Hoenn' ? 'btn-selected':''" (click)="selectHoennRegion()">
      <strong>Hoenn</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Sinnoh' ? 'btn-selected':''" (click)="selectSinnohRegion()">
      <strong>Sinnoh</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Unova' ? 'btn-selected':''" (click)="selectUnovaRegion()">
      <strong>Unova</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Kalos' ? 'btn-selected':''" (click)="selectKalosRegion()">
      <strong>Kalos</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Alola' ? 'btn-selected':''" (click)="selectAlolaRegion()">
      <strong>Alola</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Galar' ? 'btn-selected':''" (click)="selectGalarRegion()">
      <strong>Galar</strong>
    </button>
    <button class="btn"  [ngClass]="this.selectedButton === 'Hisui' ? 'btn-selected':''" (click)="selectHisuiRegion()">
      <strong>Hisui</strong>
    </button>
  </div>
  <div class="input-container">
    <input
      class="input-field"
      type="text"
      placeholder="Search by name.."
      #input
    />
    <button class="input-btn-submit"
    (click)="getPokemonByName(input.value); input.value=''">
      <mat-icon
        fontIcon="search"
      ></mat-icon>
    </button>
  </div>
</div>
<div class="card-list-content-container">
<ul>
  <li *ngFor="let pokemon of currentList">
    <app-card
    [pokemonNumber] = pokemon.id
    [pokemonName] = pokemon.name
    [pokemonTypes] = pokemon.type
    [pokemonNormalSprite] = pokemon.normalSprite
    >
  </app-card></li>
</ul>


</div>
<div class="card-list-footer-container">

</div>
