<div class="card-list-container">
  <span><strong>Search pokemons</strong></span>
  <div class="btn-container">
    <button class="btn" (click)="getAllKantoPokemons()">
      <strong>Kanto</strong>
    </button>
    <button class="btn" (click)="getAllJohtoPokemons()">
      <strong>Johto</strong>
    </button>
    <button class="btn" (click)="getAllHoennPokemons()">
      <strong>Hoenn</strong>
    </button>
    <button class="btn" (click)="getAllSinnohPokemons()">
      <strong>Sinnoh</strong>
    </button>
    <button class="btn" (click)="getAllUnovaPokemons()">
      <strong>Unova</strong>
    </button>
    <button class="btn" (click)="getAllKalosPokemons()">
      <strong>Kalos</strong>
    </button>
    <button class="btn" (click)="getAllAlolaPokemons()">
      <strong>Alola</strong>
    </button>
    <button class="btn" (click)="getAllGalarPokemons()">
      <strong>Galar</strong>
    </button>
    <button class="btn" (click)="getAllHisuiPokemons()">
      <strong>Hisui</strong>
    </button>
  </div>
  <div class="input-container">
    <input
      class="input-field"
      type="text"
      placeholder="Search by name.."
    />
    <button class="input-btn-submit">
      <mat-icon
        fontIcon="search"
      ></mat-icon>
    </button>
  </div>
</div>
