.card-list-header-container {
  top:10vh;
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  z-index: 2;
}
.card-list-header-container span {
  width: 17%;
  text-align: center;
}
.card-list-header-container .btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 70%;
}
.card-list-header-container .btn-container .btn {
  height: 100%;
  width: 11.3%;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 1px solid transparent;
}
.card-list-header-container .btn-container .btn:hover {
  position: relative;
  cursor: pointer;
  opacity: 0.9;
  background-color: var(--background-primary);
  transition: all linear 120ms;
  z-index: 2;
}
.card-list-header-container .btn-container .btn:hover:after {
  content: "";
  position: absolute;
  cursor: pointer;
  height: 4%;
  width: 70%;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  background-color: var(--text-primary);
  transition: all linear 120ms;
  z-index: 1;
}

.card-list-header-container .input-container {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-list-header-container .input-container .input-field {
  height: 65%;
  width: 75%;
  border-style: none;
  border-radius: 3px;
  padding-left: 5px;
  outline: none;
  color: black;
}
.card-list-header-container .input-container .input-field:focus {
  border: solid 2px var(--background-primary);
}

.card-list-header-container .input-container .input-btn-submit {
  width: 10%;
  height: 65%;
  background-color:var(--background-secondary) ;
  border: 1px solid var(--background-secondary);
  border-radius: 3px;
}


.card-list-header-container .input-container .input-btn-submit:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all linear 120ms;

}

.card-list-content-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  width: 100%;
  flex-wrap: wrap;
  top: 15vh;

}

.card-list-content-container ul li{
  list-style: none;
}

