
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pokelist-primary: mat.define-palette(mat.$indigo-palette);
$pokelist-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pokelist-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pokelist-theme: mat.define-light-theme((
  color: (
    primary: $pokelist-primary,
    accent: $pokelist-accent,
    warn: $pokelist-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pokelist-theme);


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}
:root{
    --type-grass: #2e7d32;
    --type-grass-border: #005005;
    --type-water: #0e80c2;
    --type-water-border: #004c8c;
    --type-fire: #ef6c00;
    --type-fire-border: #b53d00;
    --type-ground: #ca4d27;
    --type-ground-border: #870000;
    --type-rock: #beb457;
    --type-rock-border: #8b853e;
    --type-electric: #dbdb37;
    --type-electric-border: #919401;
    --type-fairy: #c77693;
    --type-fairy-border: #81455a;
    --type-dragon: #232d9b;
    --type-dragon-border: #000051;
    --type-steel: #00796b;
    --type-steel-border: #004c40;
    --type-poison: #9c27b0;
    --type-poison-border: #540164;
    --type-bug: #add812;
    --type-bug-border: #73a303;
    --type-psychic: #ff5252;
    --type-psychic-border: #c50e29;
    --type-ghost: #7527a5;
    --type-ghost-border: #38006b;
    --type-normal: #9e9e9e;
    --type-normal-border: #707070;
    --type-fighting: #e21515;
    --type-fighting-border: #720202;
    --type-ice: #62bbc7;
    --type-ice-border: #478e96;
    --type-dark: #443737;
    --type-dark-border: #1b1818;
    --type-flying: #a0a0a0;
    --type-flying-border: #727272;
}
html, body{
  font-family: 'Open Sans', sans-serif; background-color: var(--main-background);

}

.Grass {
  border: 2px solid var(--type-grass-border);
  background-color: var(--type-grass);
  box-shadow: 1px 1px 1px  var(--type-grass-border)
}
.Water {
  border: 2px solid var(--type-water-border);
  background-color: var(--type-water);
   box-shadow: 1px 1px 1px  var(--type-water-border)
}

.Fire {
  border: 2px solid var(--type-fire-border);
  background-color: var(--type-fire);
   box-shadow: 1px 1px 1px  var(--type-fire-border)
}

.Ground {
  border: 2px solid var(--type-ground-border);
  background-color: var(--type-ground);
   box-shadow: 1px 1px 1px  var(--type-ground-border)
}

.Rock {
  border: 2px solid var(--type-rock-border);
  background-color: var(--type-rock);
   box-shadow: 1px 1px 1px  var(--type-rock-border)
}


.Electric {
  border: 2px solid var(--type-electric-border);
  background-color: var(--type-electric);
   box-shadow: 1px 1px 1px  var(--type-electric-border)
}

.Fairy {
  border: 2px solid var(--type-fairy-border);
  background-color: var(--type-fairy);
   box-shadow: 1px 1px 1px  var(--type-fairy-border)
}

.Dragon {
  border: 2px solid var(--type-dragon-border);
  background-color: var(--type-dragon);
   box-shadow: 1px 1px 1px  var(--type-dragon-border)
}

.Steel {
  border: 2px solid var(--type-steel-border);
  background-color: var(--type-steel);
   box-shadow: 1px 1px 1px  var(--type-steel-border)
}


.Poison {
  border: 2px solid var(--type-poison-border);
  background-color: var(--type-poison);
   box-shadow: 1px 1px 1px  var(--type-poison-border)
}

.Bug {
  border: 2px solid var(--type-bug-border);
  background-color: var(--type-bug);
   box-shadow: 1px 1px 1px  var(--type-bug-border)
}

.Psychic {
  border: 2px solid var(--type-psychic-border);
  background-color: var(--type-psychic);
   box-shadow: 1px 1px 1px  var(--type-psychic-border)
}

.Ghost {
  border: 2px solid var(--type-ghost-border);
  background-color: var(--type-ghost);
   box-shadow: 1px 1px 1px  var(--type-ghost-border)
}

.Normal {
  border: 2px solid var(--type-normal-border);
  background-color: var(--type-normal);
   box-shadow: 1px 1px 1px  var(--type-normal-border)
}

.Fighting {
  border: 2px solid var(--type-fighting-border);
  background-color: var(--type-fighting);
  box-shadow: 1px 1px 1px  var(--type-fighting-border)
}

.Ice {
  border: 2px solid var(--type-ice-border);
  background-color: var(--type-ice);
   box-shadow: 1px 1px 1px  var(--type-ice-border)
}

.Dark {
  border: 2px solid var(--type-dark-border);
  background-color: var(--type-dark);
   box-shadow: 1px 1px 1px  var(--type-dark-border)
}

.Flying {
  color:var(--type-flying-border);
  border: 2px solid var(--type-flying-border);
  background-color: var(--type-flying);
   box-shadow: 1px 1px 1px  var(--type-flying-border)
}
.Border-type {
border-radius: 3px;
}
.custom-snackbar {
    --mdc-snackbar-container-color: #CC0000;
    --mdc-snackbar-supporting-text-color: #FFF;
}





